<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite">
	<listeners>
		<listener class-name="com.makemyTrip.listeners.TestNGListener" />
	</listeners>
	<test name="LoginTest">
		<classes>
			<!-- <class name="Tests.Script1"/> -->
			<!-- <class name="Tests.TestClassUsingListener"/> -->
			<class name="Scripts.Script1" />
		</classes>
	</test>
</suite>